body{
    margin: 0;
    padding: 0;
    background: url("back.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width:320px;
    height:420px;   
    color: rgb(249, 244, 244);
    top: 50%;
    left: 50%;
    background-color: #000;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 110px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #e1dbdb;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fefafa;
    font-size: 16px;
}

.button{
    border:none;
    outline: none;
    height: 40px;
    width: 60px;
    background: #fb2525;
    color: #fff;
    font-size: 28px;
    border-radius: 34px;
    margin-left: 100px;
}

.button:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginbox a{
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: rgb(250, 247, 247);
}

.loginbox a :hover{
    color: #ffc107;
}

.new{
    font-size: 10px;
}